# documentation page
docs/

# no minified files
dist/main.cjs
dist/main.js

# testing
__tests__/
tests/
jest.config.json

# workflows
.github/
*.yml

# src and tsconfig
src/
tsconfig.cjs.json
tsconfig.json
tsconfig-base.json