#ax-toastr {
    margin: 1em;
    right: 0px;
    width: calc(300px - 1em);
    padding: 1em;
    height: 80px;
    position: absolute;
    z-index: 99;
    border-radius: 6px;
    box-shadow: 0 2px 14px -1px #b3b3b3;
    transition: right .2s;
}

body {
    background-color: green;
}